.PhoneInputInput{
  padding: 6px 0;
  font-size: 0.875rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  outline: none;
}
.PhoneInputInput::placeholder{
  padding-left: 10px;
}